* {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
}

header {
  display:flex;
  justify-content: space-between;
  height: 64px;
  padding: 0 24px;
}

.academy-identifier {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 24px;
}

.academy-identifier p {
  color: #777;
}

.academy-identifier p b {
  color: #444;
}

.academy-logo {
  display: inline;
  height: 48px;
}

@media (max-width: 900px) {
  .academy-name {
    display:none;
  }  
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  display:inline;
  margin: 12px;
  font-size: 24px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.nav-icon {
  display: none;
}

@media (max-width: 700px) {
  header {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .nav-icon {
    display:inline;
  }

  #nav-companies,
  .nav-label {
    display:none;
  }

  nav {
    display: flex;
    justify-content: space-evenly;
  }
}

.welcome {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background: #CCC;
}

.welcome-img {
  width: 60%;
  padding: 32px 24px;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1ch 6ch 1ch 2ch;
}

.welcome-text h1 {
  font-size: 3em;
  color: #444;
  margin: 0;
}

.welcome-text p {
  font-size: 2em;
  color: #444;
  margin: 1em 0;
}

button {
  width: 80%;
  padding: 8px;
  background-color: #444;
  font-size: 1.5em;
  color: white;
  border: 0px;
}

button:hover {
  background-color: white;
  color: #444;
}

button:active {
  font-weight: bold;
}

@media (max-width: 900px) {
  .welcome {
    flex-direction: column;
  }

  .welcome-img {
    width: 100%;
    padding: 0;
  }

  .welcome-text {
    padding: 0.5ch;
    text-align: flex-start;
  }

  .welcome-text h1 {
    margin: 32px 16px;
  }

  .welcome-text p {
    margin: 24px 16px;
  }

  button {
    width: 80%;
    margin: 32px 10%;
  }
}